.calibre {
  display: block;
  font-size: 1em;
  line-height: 1.2;
  text-align: justify;
  margin: 0 5pt;
  padding: 0% 0;
}
.calibre1 {
  display: block;
  line-height: 1.2;
  text-align: justify;
  margin: 0;
  padding: 0;
}
.calibre2 {
  display: block;
  line-height: 1.3;
  text-indent: 2em;
  margin: 0.6em 0;
}
.calibre3 {
  display: block;
}
.calibre4 {
  display: block;
  font-size: 1.66667em;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  margin: 1em 0 1.2em;
}
.calibre5 {
  height: auto;
  width: auto;
}
.calibre6 {
  ruby-align: center;
}
.calibre7 {
  font-size: 0.75em;
}
.center {
  display: block;
  line-height: 1.2;
  text-align: center;
  text-indent: 0;
  margin: 0;
  padding: 0;
}
.center1 {
  display: block;
  duokan-bleed: leftright;
  line-height: 1.2;
  text-align: center;
  text-indent: 0;
  margin: 0;
  padding: 0;
}
.color {
  color: #000;
  display: block;
  font-size: 1.66667em;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  margin: 1em 0 1.2em;
}
.cutline {
  display: block;
  line-height: 1.2;
  text-align: justify;
  margin: 0;
  padding: 0.25em 0.5em;
  border-top: black double medium;
  border-bottom: black double medium;
}
.font {
  display: block;
  font-size: 0.83333em;
  line-height: 1.3;
  text-align: center;
  text-indent: 0;
  margin: 0.6em 0;
}
.font1 {
  color: #000;
  display: block;
  font-size: 1em;
  line-height: 1.3;
  text-align: center;
  text-indent: 0;
  margin: -0.5em 0 0.6em;
}
.makerifm {
  display: block;
  line-height: 1.2;
  text-indent: 0;
  margin: 0.2em 0;
}
.mt {
  display: block;
  font-family: black, serif;
  font-size: 2em;
  line-height: 1.3;
  text-align: center;
  text-indent: 0;
  margin: 1.5em 0 0.6em;
}
.mt1 {
  color: #000;
  display: block;
  font-family: black, serif;
  font-size: 1.66667em;
  line-height: 1.3;
  text-align: center;
  text-indent: 0;
  margin: 0.5em 0 0.6em;
}
.mtb {
  display: block;
  font-family: black, serif;
  font-size: 2em;
  line-height: 1.3;
  text-align: center;
  text-indent: 0;
  margin: -0.9em 0 0.6em;
}
.tco {
  color: #fff;
  text-shadow: 0 0 5px rgb(147, 75, 95);
}
.tco1 {
  color: #fff;
  text-shadow: 0 0 5px rgb(214, 119, 37);
}
.tco2 {
  color: #fff;
  text-shadow: 0 0 5px rgb(76, 121, 56);
}
.tco3 {
  color: #fff;
  text-shadow: 0 0 5px rgb(17, 82, 102);
}
.tco4 {
  color: #fff;
  text-shadow: 0 0 5px rgb(180, 100, 65);
}
.tco5 {
  color: #fff;
  text-shadow: 0 0 5px rgb(180, 86, 32);
}
