/*基础样式*/
body {
  padding: 0;
  margin: 0 1%;
  line-height: 1.2;
  text-align: justify;
}
p {
  text-indent: 2em;
  display: block;
  line-height: 1.3;
  margin-top: 0.6em;
  margin-bottom: 0.6em;
}
div {
  margin: 0;
  padding: 0;
  line-height: 1.2;
  text-align: justify;
}
li {
  clear: both;
  display: block;
}
td {
  padding: 3px 0;
}

/*封面样式*/
.cover {
  margin: 0;
  padding: 0;
  text-indent: 0;
  text-align: center !important;
}

/*制作信息页样式*/
.cutline {
  border-top: medium double black;
  border-bottom: medium double black;
  padding: 0.25em 0.5em;
}
.makerifm {
  text-indent: 0;
  line-height: 1.2;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

/*正文样式*/
/*正文章节标题样式*/
h1 {
  font-size: 1.5em;
  line-height: 1.2;
  margin-top: 1em;
  margin-bottom: 1.2em;
  text-align: center !important;
}

/*注释代码样式*/
.po {
  font-size: 0.9em;
  text-indent: -0.8em;
  padding: 0 0.1em 0.1em 1em;
  color: #960014;
}

/*上标样式*/
ruby {
  ruby-align: center;
}
rt {
  font-size: 0.7em;
}

/*下标黑点着重号*/
.zzh {
  text-emphasis-style: dot;
  text-emphasis-position: under right;
  -webkit-text-emphasis-style: dot;
  -webkit-text-emphasis-position: under right;
  -epub-text-emphasis-style: dot;
  -epub-text-emphasis-position: under right;
}

/*字体样式控制*/
/*字体加粗*/
.bold {
  font-weight: bold;
}

/*字体高度*/
.font03 {
  font-size: 0.3em;
}
.font04 {
  font-size: 0.4em;
}
.font05 {
  font-size: 0.5em;
}
.font055 {
  font-size: 0.55em;
}
.font06 {
  font-size: 0.6em;
}
.font07 {
  font-size: 0.7em;
}
.font075 {
  font-size: 0.75em;
}
.font08 {
  font-size: 0.8em;
}
.font085 {
  font-size: 0.85em;
}
.font09 {
  font-size: 0.9em;
}
.font10 {
  font-size: 1em;
}
.font11 {
  font-size: 1.1em;
}
.font115 {
  font-size: 1.15em;
}
.font12 {
  font-size: 1.2em;
}
.font13 {
  font-size: 1.3em;
}
.font14 {
  font-size: 1.4em;
}
.font15 {
  font-size: 1.5em;
}
.font16 {
  font-size: 1.6em;
}
.font17 {
  font-size: 1.7em;
}
.font18 {
  font-size: 1.8em;
}
.font19 {
  font-size: 1.9em;
}
.font20 {
  font-size: 2em;
}
.font25 {
  font-size: 2.5em;
}
.font30 {
  font-size: 3em;
}
.font40 {
  font-size: 4em;
}

/*首行缩进值为0*/
.in0 {
  text-indent: 0;
}

/*文本居中*/
.center {
  text-align: center !important;
  text-indent: 0;
}

/*文本居左*/
.left {
  text-align: left !important;
  text-indent: 0;
}

/*文本居右*/
.right {
  text-align: right !important;
  text-indent: 0;
}

/*斜体的字体样式*/
.italic {
  font-style: italic;
}

/*倾斜的字体样式*/
.oblique {
  font-style: oblique;
}

/*字体颜色控制*/
.colorc1 {
  color: #000000;
}

/*书名颜色，默认黑色。*/
.colorc2 {
  color: #000000;
}

/*卷数颜色，默认黑色。*/
.color1 {
  color: #000000;
}

/*元素控制样式*/
/*td元素顶端对齐*/
.tdtop {
  vertical-align: top;
}

/*td元素底端对齐*/
.tdbottom {
  vertical-align: bottom;
}

/*td元素垂直居中对齐*/
.tdmiddle {
  vertical-align: middle;
}

/*td元素水平居中*/
.tdcenter {
  margin-left: auto;
  margin-right: auto;
}

/*元素自动分页*/
.pagebreak {
  page-break-inside: auto !important;
}
.pagebreakavoid {
  page-break-inside: avoid !important;
}

/*元素宽度*/
.w05 {
  width: 0.5em;
}
.w07 {
  width: 0.7em;
}
.w09 {
  width: 0.9em;
}
.w10 {
  width: 1em;
}
.w11 {
  width: 1.1em;
}
.w12 {
  width: 1.2em;
}
.w15 {
  width: 1.5em;
}
.w18 {
  width: 1.8em;
}
.w20 {
  width: 2em;
}
.w26 {
  width: 2.6em;
}
.w33 {
  width: 3.3em;
}
.w37 {
  width: 3.7em;
}
.w40 {
  width: 4em;
}
.w44 {
  width: 4.4em;
}
.w50 {
  width: 5em;
}
.w55 {
  width: 5.5em;
}
.w60 {
  width: 6em;
}
.w70 {
  width: 70%;
}
.w80 {
  width: 8em;
}
.w100 {
  width: 100%;
}
.w146 {
  width: 14.6em;
}
.w164 {
  width: 16.4em;
}
.w200 {
  width: 20em;
}
/*元素顶部外边距*/
.mtb13 {
  margin-top: -1.3em;
}
.mtb09 {
  margin-top: -0.9em;
}
.mtb05 {
  margin-top: -0.5em;
}
.mtb03 {
  margin-top: -0.3em;
}
.mt03 {
  margin-top: 0.3em;
}
.mt05 {
  margin-top: 0.5em;
}
.mt09 {
  margin-top: 0.9em;
}
.mt13 {
  margin-top: 1.3em;
}
.mt15 {
  margin-top: 1.5em;
}

/*元素上下外边距*/
.mbt02 {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}
.mbt05 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
.mbt09 {
  margin-top: 0.9em;
  margin-bottom: 0.9em;
}
.mbt15 {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}
.mbt18 {
  margin-top: 1.8em;
  margin-bottom: 1.8em;
}

/*元素左右外边距*/
.mr05 {
  margin-right: 0.5em;
}
.mr10 {
  margin-right: 1em;
}
.mr15 {
  margin-right: 1.5em;
}
.mr20 {
  margin-right: 2em;
}
.mr30 {
  margin-right: 3em;
}
.mr35 {
  margin-right: 3.5em;
}
.mr40 {
  margin-right: 4em;
}

/*元素上下内边距*/
.pbt05 {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

/*行高控制*/
.h04 {
  line-height: 0.4;
  vertical-align: center;
}
.h11 {
  line-height: 1.1;
  vertical-align: center;
}
.h20 {
  line-height: 2;
  vertical-align: bottom;
}

/*浮动控制*/
.fright {
  float: right;
}
.fleft {
  float: left;
}
.cright {
  clear: right;
}
.cleft {
  clear: left;
}
.cboth {
  clear: both;
}

/*字体样式*/
@font-face {
  font-family: "Source Han Sans HW SC";
  src: url("../Fonts/SourceHanSansHWSC-Bold.otf");
}
.bold {
  font-family: "Source Han Sans HW SC", serif;
  font-weight: normal;
}
